@page "/thanks"

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<h1 style="margin-bottom:30px;">Commande effectuée</h1>
		<!-- row -->
		<div style="display:flex; justify-content: space-between">
			<div style="font-size:2rem">
				<p>Merci d’avoir passé une commande chez nous.</p>
				<p>Un membre de notre équipe vous contactera prochainement par téléphone<br />afin de confirmer votre commande 😊.</p>
			</div>
			<div><img src="/img/cart.png" width="300px" /></div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
